* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 90%;
  margin: 0 auto;
  border: 1px solid red;
  padding: 15px;
}

.box img {
  display: block;
  float: left;
  shape-outside: circle();
  border-radius: 50%;
  margin-right: 15px;
}

.box::after {
  content: "";
  display: block;
  clear: both;
}
