/* .content {
  border-style: dotted;
  border-width: 3px;
  border-color: blue;
  border-radius: 5px;
}

.content:hover {
  border: hidden;
} */

.box {
  /* width: 0px;
  height: 0px;
  border-style: solid;
  border-color: aqua yellow red saddlebrown;
  border-width: 500px;

  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent; */

  /* width: 100px;
  height: 100px;
  background: rebeccapurple;
  border-top-left-radius: 50%; */
  width: 500px;
  height: 500px;
  background-color: rgba(128, 0, 128, 0.841);
}
