* {

}

/* div begin */
.content {
    width: 90%;
    margin: auto;
    padding: 10px 0;
}

.chosse-area {
    overflow: hidden;
    margin: 15px 0;
}
.chosse-area a {
    border-width: medium;
    border-color: #d3b81e;
    border-style:solid;
    float: left;
    display: block;
    color: #d3b81e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.chosse-area a:hover {
    background-color: #d3b81e;
    color: white;
}

.info-contact {
    margin: auto;
    padding: 0 50px;
}

.map-location{
    
}
/*div end */

/* nav begin */
.area-map {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* nav end */

/* ul begin */
/* .list-area {
    list-style: none;
    display: inline-block;
    position: relative;
    text-align: center;
} */
/* ul end */

/* li begin */
li {
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 10px;
    margin-left: -5px;
}

/* span */
span {
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(75, 67, 67);
}
span a {
    color: burlywood;
}
/* span end */

/* table */
table{
    background-color: rgb(226, 232, 236);
}